OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=true

# LogLevel: Set to debug to enable verbose logging, set to result to get results only. Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info
PASSWORD=ZA14-RE034
VDI_API_KEY=NWEzNjY5MzQtYTljNC00MzczLTgyZTAtMjQzOTU4NmYyZjFh
